<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="inventoryProvider">
            <h2><span jhiTranslate="elderlySmartApp.inventoryProvider.detail.title">Inventory Provider</span> {{inventoryProvider.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="elderlySmartApp.inventoryProvider.idInventoryProvider">Id Inventory Provider</span></dt>
                <dd>
                    <span>{{inventoryProvider.idInventoryProvider}}</span>
                </dd>
                <dt><span jhiTranslate="elderlySmartApp.inventoryProvider.code">Code</span></dt>
                <dd>
                    <span>{{inventoryProvider.code}}</span>
                </dd>
                <dt><span jhiTranslate="elderlySmartApp.inventoryProvider.name">Name</span></dt>
                <dd>
                    <span>{{inventoryProvider.name}}</span>
                </dd>
                <dt><span jhiTranslate="elderlySmartApp.inventoryProvider.price">Price</span></dt>
                <dd>
                    <span>{{inventoryProvider.price}}</span>
                </dd>
                <dt><span jhiTranslate="elderlySmartApp.inventoryProvider.cuantity">Cuantity</span></dt>
                <dd>
                    <span>{{inventoryProvider.cuantity}}</span>
                </dd>
                <dt><span jhiTranslate="elderlySmartApp.inventoryProvider.provider">Provider</span></dt>
                <dd>
                    <div *ngIf="inventoryProvider.provider">
                        <a [routerLink]="['/provider', inventoryProvider.provider?.id, 'view']">{{inventoryProvider.provider?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="elderlySmartApp.inventoryProvider.product">Product</span></dt>
                <dd>
                    <span *ngFor="let product of inventoryProvider.products; let last = last">
                        <a [routerLink]="['/product', product?.id, 'view' ]">{{product.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/inventory-provider', inventoryProvider.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
