<div>
    <h2 id="page-heading">
        <span jhiTranslate="elderlySmartApp.medicationSchedule.home.title">Medication Schedules</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-medication-schedule" [routerLink]="['/medication-schedule/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="elderlySmartApp.medicationSchedule.home.createLabel">
            Create a new Medication Schedule
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="medicationSchedules?.length === 0">
        <span jhiTranslate="elderlySmartApp.medicationSchedule.home.notFound">No medicationSchedules found</span>
    </div>
    <div class="table-responsive" *ngIf="medicationSchedules?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="elderlySmartApp.medicationSchedule.idMedicationSchedule">Id Medication Schedule</span></th>
            <th scope="col" ><span jhiTranslate="elderlySmartApp.medicationSchedule.meticationName">Metication Name</span></th>
            <th scope="col" ><span jhiTranslate="elderlySmartApp.medicationSchedule.elderly">Elderly</span></th>
            <th scope="col" ><span jhiTranslate="elderlySmartApp.medicationSchedule.dose">Dose</span></th>
            <th scope="col" ><span jhiTranslate="elderlySmartApp.medicationSchedule.time">Time</span></th>
            <th scope="col" ><span jhiTranslate="elderlySmartApp.medicationSchedule.state">State</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let medicationSchedule of medicationSchedules ;trackBy: trackId">
                <td><a [routerLink]="['/medication-schedule', medicationSchedule.id, 'view' ]">{{medicationSchedule.id}}</a></td>
                <td>{{medicationSchedule.idMedicationSchedule}}</td>
                <td>{{medicationSchedule.meticationName}}</td>
                <td>{{medicationSchedule.elderly}}</td>
                <td>{{medicationSchedule.dose}}</td>
                <td>{{medicationSchedule.time}}</td>
                <td>{{medicationSchedule.state}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/medication-schedule', medicationSchedule.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/medication-schedule', medicationSchedule.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/medication-schedule', { outlets: { popup: medicationSchedule.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
