<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-medication-schedule-heading" jhiTranslate="elderlySmartApp.medicationSchedule.home.createOrEditLabel">Create or edit a Medication Schedule</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_idMedicationSchedule">Código de medicación</label>
                    <input type="number" class="form-control" name="idMedicationSchedule" id="field_idMedicationSchedule"
                           formControlName="idMedicationSchedule"
                           [(ngModel)]="createFromForm().idMedicationSchedule"
                    />
                    <div *ngIf="idMedicationSchedule.invalid && idMedicationSchedule.touched" class="validate-danger-form">
                        El código de medicación es requerido.
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_meticationName">Nombre de la medicación</label>
                    <input type="text" class="form-control" name="meticationName" id="field_meticationName"
                           formControlName="meticationName"
                           [(ngModel)]="createFromForm().meticationName"
                    />
                    <div *ngIf="meticationName.invalid && meticationName.touched" class="validate-danger-form">
                        El nombre de la medicación es requerido.
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_elderly">Nombre del adulto mayor</label>
                    <input type="text" class="form-control" name="elderly" id="field_elderly"
                           formControlName="elderly"
                           [(ngModel)]="createFromForm().elderly"
                    />
                    <div *ngIf="elderly.invalid && elderly.touched" class="validate-danger-form">
                        El nombre del adulto mayor es requerido.
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dose">Dosis</label>
                    <input type="text" class="form-control" name="dose" id="field_dose"
                           formControlName="dose"
                           [(ngModel)]="createFromForm().dose"
                    />
                    <div *ngIf="dose.invalid && dose.touched" class="validate-danger-form">
                        La dosis es requerida.
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_time">Hora de medicación</label>
                    <input type="time" class="form-control" name="time" id="field_time"
                           formControlName="time"
                           [(ngModel)]="createFromForm().time"
                    />
                    <div *ngIf="time.invalid && time.touched" class="validate-danger-form">
                        La hora de medicación es requerida.
                    </div>
                </div>

                <label class="form-control-label mt-3">Estado</label>
                <div class="form-check mt-3">
                    <label class="form-check-label" for="field_state">
                        <input class="form-check-input" type="radio" name="state" value="Activo" id="field_state"
                               formControlName="state" checked> Activo
                        <span class="circle">
                        <span class="check"></span>
                      </span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="field_state2">
                        <input class="form-check-input" type="radio" name="state" value="Inactivo" id="field_state2"
                               formControlName="state"> Inactivo
                        <span class="circle">
                        <span class="check"></span>
                      </span>
                    </label>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
