<div>
    <h2 id="page-heading">
        <span>Proveedores</span>
        <button id="jh-create-entity" class="btn btns float-right jh-create-entity create-provider" [routerLink]="['/provider/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span> Crear un nuevo Proveedor</span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="providers?.length === 0">
        <span jhiTranslate="elderlySmartApp.provider.home.notFound">Proveedores no encontrados</span>
    </div>
    <div class="table-responsive" *ngIf="providers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span>Cédula Jurídica</span></th>
            <th scope="col" ><span >Correo electrónico</span></th>
            <th scope="col" ><span>Nombre </span></th>
            <th scope="col" ><span>Tipo</span></th>
            <th scope="col" ><span>Dirección</span></th>
<!--            <th scope="col" ><span>ID usuario</span></th>-->
                <th scope="col"><span> </span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let provider of providers ;trackBy: trackId">
                <td><a [routerLink]="['/provider', provider.id, 'view' ]">{{provider.id}}</a></td>
                <td>{{provider.identification}}</td>
                <td>{{provider.email}}</td>
                <td>{{provider.name}}</td>
                <td>{{provider.providerType}}</td>
                <td>{{provider.address}}</td>
                <td>
                    <div *ngIf="provider.userApp">
                        <a [routerLink]="['/user-app', provider.userApp?.id, 'view' ]" >{{provider.userApp?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/provider', provider.id, 'view' ]"
                                class="btn btn-info btn-sm btn-link">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/provider', provider.id, 'edit']"
                                class="btn btn-primary btn-sm btn-link">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/provider', { outlets: { popup: provider.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger-word btn-link">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
