<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate [formGroup]="editForm" (ngSubmit)="save()">
            <h2 id="jhi-provider-heading" class="text-center mb-5">Proveedor</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label"  for="field_identification">Cédula Jurídica</label>
                    <input type="text" class="form-control" name="identification" id="field_identification"
                           formControlName="identification"
                           [(ngModel)]="createFromForm().identification" required />
                    <div *ngIf="identification.invalid && identification.touched" class="validate-danger-form">
                        La cédula jurídica es requerida.
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label"  for="field_email">Correo electrónico</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"
                           [(ngModel)]="createFromForm().email" required />

                    <div *ngIf="email.invalid && email.touched" class="validate-danger-form">
                        El correo electrónico es requerido.
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label"  for="field_name">Nombre de la empresa</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"
                           [(ngModel)]="createFromForm().name" required />
                    <div *ngIf="name.invalid && name.touched" class="validate-danger-form">
                        El nombre del proveedor es requerido.
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label"  for="field_providerType">Tipo de provedor</label>
                    <input type="text" class="form-control" name="providerType" id="field_providerType"
                           formControlName="providerType"
                           [(ngModel)]="createFromForm().providerType" requered/>
                    <div *ngIf="providerType.invalid && providerType.touched" class="validate-danger-form">
                        El tipo de proveedor es requerido.
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label"  for="field_address">Dirección</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                           formControlName="address"
                           [(ngModel)]="createFromForm().address" required />
                    <div *ngIf="address.invalid && address.touched" class="validate-danger-form">
                        La dirección es requerida.
                    </div>
                </div>

<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" for="field_userApp">User App</label>-->
<!--                    <select class="form-control" id="field_userApp" name="userApp" formControlName="userApp">-->
<!--                        <option [ngValue]="null"></option>-->
<!--                        <option [ngValue]="userAppOption.id === editForm.get('userApp').value?.id ? editForm.get('userApp').value : userAppOption" *ngFor="let userAppOption of userapps; trackBy: trackUserAppById">{{userAppOption.id}}</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--            </div>-->
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span >Cancelar</span>
                    </button>
                    <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span >Guardar</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
