<div>
    <div class="card-header card-header-icon">
        <div class="card-icon card-list">
            <fa-icon [icon]="'list'"></fa-icon>
        </div>
        <h4 class="card-title ">Recetas médicas existentes</h4>
        <button id="jh-create-entity" class="btn btns float-right jh-create-entity create-prescription" [routerLink]="['/prescription/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span> Crear nueva receta</span>
        </button>
    </div>
    <h2 id="page-heading">
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="prescriptions?.length === 0">
        <span jhiTranslate="elderlySmartApp.prescription.home.notFound">No prescriptions found</span>
    </div>
    <div class="table-responsive" *ngIf="prescriptions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col"><span>ID</span></th>
            <th scope="col"><span>Código</span></th>
            <th scope="col"><span>Nombre de oficina</span></th>
            <th scope="col"><span>Dia de creacion</span></th>
            <th scope="col"><span>Nombre del doctor</span></th>
            <th scope="col"><span>Nombre del paciente</span></th>
            <th scope="col"><span>Edad del paciente</span></th>
            <th scope="col"><span>Medicamentos</span></th>
            <th scope="col"><span>Estado</span></th>
            <th scope="col"><span>Farmacia</span></th>
            <th scope="col"><span>ID Doctor</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let prescription of prescriptions ;trackBy: trackId">
                <td><a [routerLink]="['/prescription', prescription.id, 'view' ]">{{prescription.id}}</a></td>
                <td>{{prescription.idPrescription}}</td>
                <td>{{prescription.officeName}}</td>
                <td>{{prescription.creationDate | date:'mediumDate'}}</td>
                <td>{{prescription.doctorName}}</td>
                <td>{{prescription.patientName}}</td>
                <td>{{prescription.patientAge}}</td>
                <td>{{prescription.prescriptionDrugs}}</td>
                <td>{{prescription.state}}</td>
                <td>
                    <div *ngIf="prescription.pharmacy">
                        <a [routerLink]="['/pharmacy', prescription.pharmacy?.id, 'view' ]" >{{prescription.pharmacy?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="prescription.doctor">
                        <a [routerLink]="['/doctor', prescription.doctor?.id, 'view' ]" >{{prescription.doctor?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/prescription', prescription.id, 'view' ]"
                                class="btn btn-info btn-sm btn-link">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/prescription', prescription.id, 'edit']"
                                class="btn btn-primary btn-sm btn-link">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/prescription', { outlets: { popup: prescription.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger-word btn-link">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
