<full-calendar
    [events]="this.calendarEvents"
    [plugins]="calendarPlugins"
    (eventClick)="eventClick($event)"


></full-calendar>


<div>
    <div class="card-header card-header-icon">
        <div class="card-icon card-list">
            <fa-icon [icon]="'list'"></fa-icon>
        </div>
        <h4 class="card-title ">Actividades recreativas</h4>
        <button id="jh-create-entity" class="btn btns float-right jh-create-entity create-recreational-activity" [routerLink]="['/recreational-activity/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span>
            Registrar actividad recreativa
            </span>
        </button>
    </div>

    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="recreationalActivities?.length === 0">
        <span>No se han registrado actividades recreativas</span>
    </div>
    <div class="table-responsive" *ngIf="recreationalActivities?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" class="text-center"><span>ID</span></th>
            <th scope="col" class="text-center"><span>Código de actividad recreativa</span></th>
            <th scope="col" class="text-center"><span>Nombre</span></th>
            <th scope="col" class="text-center"><span>Descripción</span></th>
            <th scope="col" class="text-center"><span>Fecha</span></th>
            <th scope="col" class="text-center"><span>Hora de inicio</span></th>
            <th scope="col" class="text-center"><span>Fecha de finalización</span></th>
            <th scope="col" class="text-center"><span>Estado</span></th>
<!--            <th scope="col" class="text-center"><span>Asilo</span></th>-->
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let recreationalActivity of recreationalActivities ;trackBy: trackId">
                <td><a [routerLink]="['/recreational-activity', recreationalActivity.id, 'view' ]">{{recreationalActivity.id}}</a></td>
                <td>{{recreationalActivity.idRecreationalActivity}}</td>
                <td>{{recreationalActivity.name}}</td>
                <td>{{recreationalActivity.description}}</td>
                <td>{{recreationalActivity.date | date:'mediumDate'}}</td>
                <td>{{recreationalActivity.startTime}}</td>
                <td>{{recreationalActivity.endTime}}</td>
                <td>{{recreationalActivity.state}}</td>
                <td>
                    <div *ngIf="recreationalActivity.asylum">
                        <a [routerLink]="['/asylum', recreationalActivity.asylum?.id, 'view' ]" >{{recreationalActivity.asylum?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/recreational-activity', recreationalActivity.id, 'view' ]"
                                class="btn btn-success btn-link">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Ver</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/recreational-activity', recreationalActivity.id, 'edit']"
                                class="btn btns-words btn-link">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Editar</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/recreational-activity', { outlets: { popup: recreationalActivity.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger-word btn-link">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Eliminar</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
