<div>
    <div class="card-header card-header-icon">
        <div class="card-icon card-list">
            <fa-icon [icon]="'list'"></fa-icon>
        </div>
        <h4 class="card-title ">Doctores existentes</h4>
        <button id="jh-create-entity" class="btn btns float-right jh-create-entity create-doctor" [routerLink]="['/doctor/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span>
            Registrar doctor
            </span>
        </button>
    </div>

    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="doctors?.length === 0">
        <span>No se encontraron doctores disponibles</span>
    </div>
    <div class="table-responsive" *ngIf="doctors?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" class="text-center"><span>ID</span></th>
            <th scope="col" class="text-center"><span>Código doctor</span></th>
            <th scope="col" class="text-center"><span>Correo electrónico</span></th>
            <th scope="col" class="text-center"><span>Consultorio</span></th>
            <th scope="col" class="text-center"><span>Dirección</span></th>
            <!--<th scope="col" class="text-center"><span>User App</span></th>-->
            <!--<th scope="col" class="text-center"><span>Elderly</span></th>-->
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let doctor of doctors ;trackBy: trackId">
                <td><a [routerLink]="['/doctor', doctor.id, 'view' ]">{{doctor.id}}</a></td>
                <td>{{doctor.idDoctor}}</td>
                <td>{{doctor.email}}</td>
                <td>{{doctor.officeName}}</td>
                <td>{{doctor.address}}</td>
                <!--<td>
                    <div *ngIf="doctor.userApp">
                        <a [routerLink]="['/user-app', doctor.userApp?.id, 'view' ]" >{{doctor.userApp?.id}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let elderly of doctor.elderlies; let last = last">
                            <a class="form-control-static" [routerLink]="['/elderly', elderly?.id, 'view' ]">{{elderly.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>-->
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/doctor', doctor.id, 'view' ]"
                                class="btn btn-success btn-link">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Ver</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/doctor', doctor.id, 'edit']"
                                class="btn btns-words btn-link">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Editar</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/doctor', { outlets: { popup: doctor.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger-word btn-link">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
