<div xmlns:trackBy="http://www.w3.org/1999/xhtml">
    <div class="card-header card-header-icon mt-3">
        <div class="card-icon card-list">
            <fa-icon [icon]="'list'"></fa-icon>
        </div>
    </div>
    <h2 id="page-heading">
        <h4 class="card-title ">Alergias</h4>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="allergies?.length === 0">
        <span>No se encontraron alergias</span>
    </div>
    <div class="table-responsive" *ngIf="allergies?.length > 0">
        <table class="table table-striped text-center" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>Código</span></th>
            <th scope="col" ><span>Nombre</span></th>
            <th scope="col" ><span>Descripción</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let allergies of allergies ;trackBy: trackId">
                <td><a [routerLink]="['/allergies', allergies.id, 'view' ]">{{allergies.id}}</a></td>
                <td>{{allergies.name}}</td>
                <td>{{allergies.description}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/allergies', allergies.id, 'view' ]"
                                class="btn btn-success btn-link">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Ver</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/allergies', allergies.id, 'edit']"
                                class="btn btns-words btn-link">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Editar</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/allergies', { outlets: { popup: allergies.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger-word btn-link">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Eliminar</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
