<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="medicalAppointment">
            <h2><span jhiTranslate="elderlySmartApp.medicalAppointment.detail.title">Medical Appointment</span> {{medicalAppointment.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="elderlySmartApp.medicalAppointment.idMedicalAppointment">Id Medical Appointment</span></dt>
                <dd>
                    <span>{{medicalAppointment.idMedicalAppointment}}</span>
                </dd>
                <dt><span jhiTranslate="elderlySmartApp.medicalAppointment.date">Date</span></dt>
                <dd>
                    <span>{{medicalAppointment.date}}</span>
                </dd>
                <dt><span jhiTranslate="elderlySmartApp.medicalAppointment.time">Time</span></dt>
                <dd>
                    <span>{{medicalAppointment.time}}</span>
                </dd>
                <dt><span jhiTranslate="elderlySmartApp.medicalAppointment.state">State</span></dt>
                <dd>
                    <span>{{medicalAppointment.state}}</span>
                </dd>
                <dt><span jhiTranslate="elderlySmartApp.medicalAppointment.employee">Employee</span></dt>
                <dd>
                    <div *ngIf="medicalAppointment.employee">
                        <a [routerLink]="['/employee', medicalAppointment.employee?.id, 'view']">{{medicalAppointment.employee?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="elderlySmartApp.medicalAppointment.doctor">Doctor</span></dt>
                <dd>
                    <div *ngIf="medicalAppointment.doctor">
                        <a [routerLink]="['/doctor', medicalAppointment.doctor?.id, 'view']">{{medicalAppointment.doctor?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/medical-appointment', medicalAppointment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
