<div>
    <h2 id="page-heading">
        Farmacias existentes
        <button id="jh-create-entity" class="btn btns float-right jh-create-entity create-pharmacy" [routerLink]="['/pharmacy/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span>
            Registrar farmacia
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="pharmacies?.length === 0">
        <span>No se encontraron farmacias</span>
    </div>
    <div class="table-responsive" *ngIf="pharmacies?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" class="text-center" ><span>ID</span></th>
            <th scope="col" class="text-center"><span>Cédula jurídica</span></th>
            <th scope="col" class="text-center"><span>Correo electrónico</span></th>
            <th scope="col" class="text-center"><span>Nombre</span></th>
            <th scope="col" class="text-center"><span>Dirección</span></th>
            <th scope="col" class="text-center"><span>Acciones</span></th>
<!--            <th scope="col" ><span jhiTranslate="elderlySmartApp.pharmacy.userApp">User App</span></th>-->
<!--            <th scope="col" ><span jhiTranslate="elderlySmartApp.pharmacy.provider">Provider</span></th>-->
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pharmacy of pharmacies ;trackBy: trackId">
                <td><a [routerLink]="['/pharmacy', pharmacy.id, 'view' ]">{{pharmacy.id}}</a></td>
                <td>{{pharmacy.idPharmacy}}</td>
                <td>{{pharmacy.email}}</td>
                <td>{{pharmacy.name}}</td>
                <td>{{pharmacy.address}}</td>
<!--                <td>-->
<!--                    <div *ngIf="pharmacy.userApp">-->
<!--                        <a [routerLink]="['/user-app', pharmacy.userApp?.id, 'view' ]" >{{pharmacy.userApp?.id}}</a>-->
<!--                    </div>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <span *ngFor="let provider of pharmacy.providers; let last = last">-->
<!--                            <a class="form-control-static" [routerLink]="['/provider', provider?.id, 'view' ]">{{provider.id}}</a>{{last ? '' : ', '}}-->
<!--                        </span>-->
<!--                </td>-->
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/pharmacy', pharmacy.id, 'view' ]"
                                class="btn btn-success btn-link">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" >Ver</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pharmacy', pharmacy.id, 'edit']"
                                class="btn btns-words btn-link">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" >Editar</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pharmacy', { outlets: { popup: pharmacy.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger-word btn-link">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Eliminar</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
