<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-pharmacy-heading" class="text-center">Farmacia</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_idPharmacy">Cédula jurídica</label>
                    <input type="text" class="form-control" name="idPharmacy" id="field_idPharmacy"
                           formControlName="idPharmacy"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_email">Correo electrónico</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Nombre</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_address">Dirección</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                           formControlName="address"/>
                </div>

<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" jhiTranslate="elderlySmartApp.pharmacy.userApp" for="field_userApp">User App</label>-->
<!--                    <select class="form-control" id="field_userApp" name="userApp" formControlName="userApp">-->
<!--                        <option [ngValue]="null"></option>-->
<!--                        <option [ngValue]="userAppOption.id === editForm.get('userApp').value?.id ? editForm.get('userApp').value : userAppOption" *ngFor="let userAppOption of userapps; trackBy: trackUserAppById">{{userAppOption.id}}</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label jhiTranslate="elderlySmartApp.pharmacy.provider" for="field_providers">Provider</label>-->
<!--                    <select class="form-control" id="field_providers" multiple name="providers" formControlName="providers">-->
<!--                        <option [ngValue]="getSelected(editForm.get('providers').value, providerOption)" *ngFor="let providerOption of providers; trackBy: trackProviderById">{{providerOption.id}}</option>-->
<!--                    </select>-->
<!--                </div>-->
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancelar</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-info btns">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Guardar</span>
                </button>
            </div>
        </form>
    </div>
</div>
