<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-inventory-pharmacy-heading" jhiTranslate="elderlySmartApp.inventoryPharmacy.home.createOrEditLabel">Create or edit a Inventory Pharmacy</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.inventoryPharmacy.idInventoryPharmacy" for="field_idInventoryPharmacy">Id Inventory Pharmacy</label>
                    <input type="text" class="form-control" name="idInventoryPharmacy" id="field_idInventoryPharmacy"
                           formControlName="idInventoryPharmacy"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.inventoryPharmacy.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.inventoryPharmacy.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.inventoryPharmacy.purchasePrice" for="field_purchasePrice">Purchase Price</label>
                    <input type="number" class="form-control" name="purchasePrice" id="field_purchasePrice"
                           formControlName="purchasePrice"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.inventoryPharmacy.salePrice" for="field_salePrice">Sale Price</label>
                    <input type="number" class="form-control" name="salePrice" id="field_salePrice"
                           formControlName="salePrice"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.inventoryPharmacy.cuantity" for="field_cuantity">Cuantity</label>
                    <input type="number" class="form-control" name="cuantity" id="field_cuantity"
                           formControlName="cuantity"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.inventoryPharmacy.pharmacy" for="field_pharmacy">Pharmacy</label>
                    <select class="form-control" id="field_pharmacy" name="pharmacy" formControlName="pharmacy">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pharmacyOption.id === editForm.get('pharmacy').value?.id ? editForm.get('pharmacy').value : pharmacyOption" *ngFor="let pharmacyOption of pharmacies; trackBy: trackPharmacyById">{{pharmacyOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
