<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-family-heading" jhiTranslate="elderlySmartApp.family.home.createOrEditLabel">Create or edit a Family</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.family.idFamily" for="field_idFamily">Id Family</label>
                    <input type="text" class="form-control" name="idFamily" id="field_idFamily"
                           formControlName="idFamily"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.family.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.family.name2" for="field_name2">Name 2</label>
                    <input type="text" class="form-control" name="name2" id="field_name2"
                           formControlName="name2"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.family.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.family.lastName2" for="field_lastName2">Last Name 2</label>
                    <input type="text" class="form-control" name="lastName2" id="field_lastName2"
                           formControlName="lastName2"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.family.phone1" for="field_phone1">Phone 1</label>
                    <input type="text" class="form-control" name="phone1" id="field_phone1"
                           formControlName="phone1"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.family.phone2" for="field_phone2">Phone 2</label>
                    <input type="text" class="form-control" name="phone2" id="field_phone2"
                           formControlName="phone2"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.family.age" for="field_age">Age</label>
                    <input type="number" class="form-control" name="age" id="field_age"
                           formControlName="age"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.family.familyRelation" for="field_familyRelation">Family Relation</label>
                    <input type="text" class="form-control" name="familyRelation" id="field_familyRelation"
                           formControlName="familyRelation"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.family.state" for="field_state">State</label>
                    <input type="text" class="form-control" name="state" id="field_state"
                           formControlName="state"/>
                </div>

                <div class="form-group">
                    <label jhiTranslate="elderlySmartApp.family.elderly" for="field_elderlies">Elderly</label>
                    <select class="form-control" id="field_elderlies" multiple name="elderlies" formControlName="elderlies">
                        <option [ngValue]="getSelected(editForm.get('elderlies').value, elderlyOption)" *ngFor="let elderlyOption of elderlies; trackBy: trackElderlyById">{{elderlyOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
