<div>
    <div class="card-header card-header-icon mt-3">
        <div class="card-icon card-list">
            <fa-icon [icon]="'list'"></fa-icon>
        </div>
    </div>
    <h2 id="page-heading">
        <h4 class="card-title ">Familiares</h4>
        <button id="jh-create-entity" class="btn btns btn-primary float-right jh-create-entity create-family" [routerLink]="['/family/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span>
            Añadir familiar
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="families?.length === 0">
        <span>No se encontraron familiares</span>
    </div>
    <div class="table-responsive" *ngIf="families?.length > 0">
        <table class="table table-striped text-center" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>Código</span></th>
            <th scope="col" ><span>Identificación</span></th>
            <th scope="col" ><span>Nombre</span></th>
            <th scope="col" ><span>Apellido</span></th>
            <th scope="col" ><span>Télefono</span></th>
            <th scope="col" ><span>Relación</span></th>
            <th scope="col" ><span>Estado</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let family of families ;trackBy: trackId">
                <td><a [routerLink]="['/family', family.id, 'view' ]">{{family.id}}</a></td>
                <td>{{family.idFamily}}</td>
                <td>{{family.name}}</td>
                <td>{{family.lastName}}</td>
                <td>{{family.phone1}}</td>
                <td>{{family.familyRelation}}</td>
                <td>{{family.state}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/family', family.id, 'view' ]"
                                class="btn btn-success btn-link">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Ver</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/family', family.id, 'edit']"
                                class="btn btns-words btn-link">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Editar</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/family', { outlets: { popup: family.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger-word btn-link">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Eliminar</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
