<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-family-heading" class="text-center mt-5">Familiar</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_idFamily">Identificación</label>
                    <input type="text" class="form-control" name="idFamily" id="field_idFamily"
                           formControlName="idFamily"[(ngModel)]="createFromForm().idFamily" required/>
                    <div *ngIf="idFamily.errors?.required && idFamily.touched" class="validate-danger-form">
                        La identificación es requerida.
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Primer nombre</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"[(ngModel)]="createFromForm().name" required pattern="[a-zA-Z ]*"/>
                    <div *ngIf="name.errors?.required && name.touched" class="validate-danger-form">
                        El primer nombre es requerido.
                    </div>
                    <div *ngIf="name.errors?.pattern && name.touched" class="validate-danger-form">
                        No se permiten números.
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name2">Segundo nombre</label>
                    <input type="text" class="form-control" name="name2" id="field_name2"
                           formControlName="name2"[(ngModel)]="createFromForm().name2" pattern="[a-zA-Z ]*"/>
                    <div *ngIf="name2.errors?.pattern && name2.touched" class="validate-danger-form">
                        No se permiten números.
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label"  for="field_lastName">Primer apellido</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"[(ngModel)]="createFromForm().lastName" required pattern="[a-zA-Z ]*"/>
                    <div *ngIf="lastName.errors?.required && lastName.touched" class="validate-danger-form">
                        El primer apellido es requerido.
                    </div>
                    <div *ngIf="lastName.errors?.pattern && lastName.touched" class="validate-danger-form">
                        No se permiten números.
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label"  for="field_lastName2">Segundo apellido</label>
                    <input type="text" class="form-control" name="lastName2" id="field_lastName2"
                           formControlName="lastName2"[(ngModel)]="createFromForm().lastName2" pattern="[a-zA-Z ]*"/>
                    <div *ngIf="lastName2.errors?.pattern && lastName2.touched" class="validate-danger-form">
                        No se permiten números.
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label"  for="field_phone1">Número de teléfono</label>
                    <input type="text" class="form-control" name="phone1" id="field_phone1"
                           formControlName="phone1"[(ngModel)]="createFromForm().phone1" required/>
                    <div *ngIf="phone1.errors?.required && phone1.touched" class="validate-danger-form">
                        El número de teléfono es requerido.
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label"  for="field_phone2">Número de teléfono extra</label>

                    <input type="text" class="form-control" name="phone2" id="field_phone2"
                           formControlName="phone2"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label"  for="field_age">Edad</label>
                    <input type="number" class="form-control" name="age" id="field_age"
                           formControlName="age"[(ngModel)]="createFromForm().age" required min max/>
                    <div *ngIf="age.errors?.required && age.touched" class="validate-danger-form">
                        La edad es requerida.
                    </div>
                    <div *ngIf="age.errors?.min && age.touched" class="validate-danger-form">
                        Debe ser mayor de 18 años.
                    </div>
                    <div *ngIf="age.errors?.max && age.touched" class="validate-danger-form">
                        La edad máxima es de 99 años.
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label"  for="field_familyRelation">Relación con el familiar</label>
                    <input type="text" class="form-control" name="familyRelation" id="field_familyRelation"
                           formControlName="familyRelation"[(ngModel)]="createFromForm().familyRelation" required pattern="[a-zA-Z ]*"/>
                    <div *ngIf="familyRelation.errors?.required && familyRelation.touched" class="validate-danger-form">
                        El relación con el adulto es requerida.
                    </div>
                    <div *ngIf="familyRelation.errors?.pattern && familyRelation.touched" class="validate-danger-form">
                        No se permiten números.
                    </div>
                </div>
                <div class="form-group">
                    <label  for="field_elderlies">Adulto</label>
                    <select class="form-control" id="field_elderlies" multiple name="elderlies" formControlName="elderlies">
                        <option [ngValue]="getSelected(editForm.get('elderlies').value, elderlyOption)" *ngFor="let elderlyOption of elderlies; trackBy: trackElderlyById">{{elderlyOption.id}}</option>
                    </select>
                </div>
                <div class="form-check mt-3">
                    <label class="form-check-label" for="field_state">
                        <input class="form-check-input" type="radio" name="state" value="Activo" id="field_state"
                               formControlName="state" checked> Activo
                        <span class="circle">
                        <span class="check"></span>
                      </span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="field_state2">
                        <input class="form-check-input" type="radio" name="state" value="Inactivo" id="field_state2"
                               formControlName="state"> Inactivo
                        <span class="circle">
                        <span class="check"></span>
                      </span>
                    </label>
                </div>
            </div>
            <div class="mt-4">
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancelar</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-info">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Guardar</span>
                </button>
            </div>
        </form>
    </div>
</div>

