<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="family">
            <h2><span jhiTranslate="elderlySmartApp.family.detail.title">Family</span> {{family.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="elderlySmartApp.family.idFamily">Id Family</span></dt>
                <dd>
                    <span>{{family.idFamily}}</span>
                </dd>
                <dt><span jhiTranslate="elderlySmartApp.family.name">Name</span></dt>
                <dd>
                    <span>{{family.name}}</span>
                </dd>
                <dt><span jhiTranslate="elderlySmartApp.family.name2">Name 2</span></dt>
                <dd>
                    <span>{{family.name2}}</span>
                </dd>
                <dt><span jhiTranslate="elderlySmartApp.family.lastName">Last Name</span></dt>
                <dd>
                    <span>{{family.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="elderlySmartApp.family.lastName2">Last Name 2</span></dt>
                <dd>
                    <span>{{family.lastName2}}</span>
                </dd>
                <dt><span jhiTranslate="elderlySmartApp.family.phone1">Phone 1</span></dt>
                <dd>
                    <span>{{family.phone1}}</span>
                </dd>
                <dt><span jhiTranslate="elderlySmartApp.family.phone2">Phone 2</span></dt>
                <dd>
                    <span>{{family.phone2}}</span>
                </dd>
                <dt><span jhiTranslate="elderlySmartApp.family.age">Age</span></dt>
                <dd>
                    <span>{{family.age}}</span>
                </dd>
                <dt><span jhiTranslate="elderlySmartApp.family.familyRelation">Family Relation</span></dt>
                <dd>
                    <span>{{family.familyRelation}}</span>
                </dd>
                <dt><span jhiTranslate="elderlySmartApp.family.state">State</span></dt>
                <dd>
                    <span>{{family.state}}</span>
                </dd>
                <dt><span jhiTranslate="elderlySmartApp.family.elderly">Elderly</span></dt>
                <dd>
                    <span *ngFor="let elderly of family.elderlies; let last = last">
                        <a [routerLink]="['/elderly', elderly?.id, 'view' ]">{{elderly.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/family', family.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
