<div>
    <h2 id="page-heading">
        <span jhiTranslate="elderlySmartApp.mortuary.home.title">Mortuaries</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mortuary" [routerLink]="['/mortuary/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="elderlySmartApp.mortuary.home.createLabel">
            Create a new Mortuary
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="mortuaries?.length === 0">
        <span jhiTranslate="elderlySmartApp.mortuary.home.notFound">No mortuaries found</span>
    </div>
    <div class="table-responsive" *ngIf="mortuaries?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="elderlySmartApp.mortuary.idMortuary">Id Mortuary</span></th>
            <th scope="col" ><span jhiTranslate="elderlySmartApp.mortuary.email">Email</span></th>
            <th scope="col" ><span jhiTranslate="elderlySmartApp.mortuary.name">Name</span></th>
            <th scope="col" ><span jhiTranslate="elderlySmartApp.mortuary.address">Address</span></th>
            <th scope="col" ><span jhiTranslate="elderlySmartApp.mortuary.userApp">User App</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mortuary of mortuaries ;trackBy: trackId">
                <td><a [routerLink]="['/mortuary', mortuary.id, 'view' ]">{{mortuary.id}}</a></td>
                <td>{{mortuary.idMortuary}}</td>
                <td>{{mortuary.email}}</td>
                <td>{{mortuary.name}}</td>
                <td>{{mortuary.address}}</td>
                <td>
                    <div *ngIf="mortuary.userApp">
                        <a [routerLink]="['/user-app', mortuary.userApp?.id, 'view' ]" >{{mortuary.userApp?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/mortuary', mortuary.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/mortuary', mortuary.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/mortuary', { outlets: { popup: mortuary.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
