<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-funeral-history-heading" jhiTranslate="elderlySmartApp.funeralHistory.home.createOrEditLabel">Create or edit a Funeral History</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.funeralHistory.idFuneralHistory" for="field_idFuneralHistory">Id Funeral History</label>
                    <input type="number" class="form-control" name="idFuneralHistory" id="field_idFuneralHistory"
                           formControlName="idFuneralHistory"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.funeralHistory.customer" for="field_customer">Customer</label>
                    <input type="text" class="form-control" name="customer" id="field_customer"
                           formControlName="customer"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.funeralHistory.phone" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                           formControlName="phone"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.funeralHistory.purchaseMade" for="field_purchaseMade">Purchase Made</label>
                    <input type="text" class="form-control" name="purchaseMade" id="field_purchaseMade"
                           formControlName="purchaseMade"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.funeralHistory.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" formControlName="date"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.funeralHistory.state" for="field_state">State</label>
                    <input type="text" class="form-control" name="state" id="field_state"
                           formControlName="state"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.funeralHistory.mortuary" for="field_mortuary">Mortuary</label>
                    <select class="form-control" id="field_mortuary" name="mortuary" formControlName="mortuary">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="mortuaryOption.id === editForm.get('mortuary').value?.id ? editForm.get('mortuary').value : mortuaryOption" *ngFor="let mortuaryOption of mortuaries; trackBy: trackMortuaryById">{{mortuaryOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
