<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-user-app-heading" jhiTranslate="elderlySmartApp.userApp.home.createOrEditLabel">Create or edit a User App</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.userApp.identification" for="field_identification">Identification</label>
                    <input type="text" class="form-control" name="identification" id="field_identification"
                           formControlName="identification"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.userApp.idTypeUser" for="field_idTypeUser">Id Type User</label>
                    <input type="number" class="form-control" name="idTypeUser" id="field_idTypeUser"
                           formControlName="idTypeUser"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.userApp.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.userApp.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.userApp.name2" for="field_name2">Name 2</label>
                    <input type="text" class="form-control" name="name2" id="field_name2"
                           formControlName="name2"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.userApp.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.userApp.lastName2" for="field_lastName2">Last Name 2</label>
                    <input type="text" class="form-control" name="lastName2" id="field_lastName2"
                           formControlName="lastName2"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.userApp.phone1" for="field_phone1">Phone 1</label>
                    <input type="text" class="form-control" name="phone1" id="field_phone1"
                           formControlName="phone1"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.userApp.phone2" for="field_phone2">Phone 2</label>
                    <input type="text" class="form-control" name="phone2" id="field_phone2"
                           formControlName="phone2"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.userApp.age" for="field_age">Age</label>
                    <input type="number" class="form-control" name="age" id="field_age"
                           formControlName="age"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.userApp.password" for="field_password">Password</label>
                    <input type="text" class="form-control" name="password" id="field_password"
                           formControlName="password"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="elderlySmartApp.userApp.state" for="field_state">State</label>
                    <input type="text" class="form-control" name="state" id="field_state"
                           formControlName="state"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
