<div>
    <h2 id="page-heading">
        <span jhiTranslate="elderlySmartApp.elderly.home.title">Elderlies</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-elderly" [routerLink]="['/elderly/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="elderlySmartApp.elderly.home.createLabel">
            Create a new Elderly
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="elderlies?.length === 0">
        <span jhiTranslate="elderlySmartApp.elderly.home.notFound">No elderlies found</span>
    </div>
    <div class="table-responsive" *ngIf="elderlies?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="elderlySmartApp.elderly.idElderly">Id Elderly</span></th>
            <th scope="col" ><span jhiTranslate="elderlySmartApp.elderly.nationality">Nationality</span></th>
            <th scope="col" ><span jhiTranslate="elderlySmartApp.elderly.address">Address</span></th>
            <th scope="col" ><span jhiTranslate="elderlySmartApp.elderly.admissionDate">Admission Date</span></th>
            <th scope="col" ><span jhiTranslate="elderlySmartApp.elderly.state">State</span></th>
            <th scope="col" ><span jhiTranslate="elderlySmartApp.elderly.employee">Employee</span></th>
            <th scope="col" ><span jhiTranslate="elderlySmartApp.elderly.userApp">User App</span></th>
            <th scope="col" ><span jhiTranslate="elderlySmartApp.elderly.family">Family</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let elderly of elderlies ;trackBy: trackId">
                <td><a [routerLink]="['/elderly', elderly.id, 'view' ]">{{elderly.id}}</a></td>
                <td>{{elderly.idElderly}}</td>
                <td>{{elderly.nationality}}</td>
                <td>{{elderly.address}}</td>
                <td>{{elderly.admissionDate | date:'mediumDate'}}</td>
                <td>{{elderly.state}}</td>
                <td>
                    <div *ngIf="elderly.employee">
                        <a [routerLink]="['/employee', elderly.employee?.id, 'view' ]" >{{elderly.employee?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="elderly.userApp">
                        <a [routerLink]="['/user-app', elderly.userApp?.id, 'view' ]" >{{elderly.userApp?.id}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let family of elderly.families; let last = last">
                            <a class="form-control-static" [routerLink]="['/family', family?.id, 'view' ]">{{family.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/elderly', elderly.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/elderly', elderly.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/elderly', { outlets: { popup: elderly.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
