<div>
    <h2 id="page-heading">
        <span>Adultos mayores</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-elderly" [routerLink]="['/elderly/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span>
            Añadir adulto mayor
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="elderlies?.length === 0">
        <span>No se encontraron adultos mayores</span>
    </div>
    <div class="table-responsive" *ngIf="elderlies?.length > 0">
        <table class="table table-striped text-center" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>Código</span></th>
            <th scope="col" ><span>Identificación</span></th>
            <th scope="col" ><span>Nombre</span></th>
            <th scope="col" ><span>Apellido</span></th>
            <th scope="col" ><span>Edad</span></th>
            <th scope="col" ><span>Estado</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let elderly of elderlies ;trackBy: trackId">
                <td><a [routerLink]="['/elderly', elderly.id, 'view' ]">{{elderly.id}}</a></td>
                <td>{{elderly.idElderly}}</td>
                <td>{{elderly.name}}</td>
                <td>{{elderly.lastName}}</td>
                <td>{{elderly.age}}</td>
                <td>{{elderly.state}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/elderly', elderly.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Ver</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/elderly', elderly.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Editar</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/elderly', { outlets: { popup: elderly.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Eliminar</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
