<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="elderly">
            <h2><span jhiTranslate="elderlySmartApp.elderly.detail.title">Elderly</span> {{elderly.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="elderlySmartApp.elderly.idElderly">Id Elderly</span></dt>
                <dd>
                    <span>{{elderly.idElderly}}</span>
                </dd>
                <dt><span jhiTranslate="elderlySmartApp.elderly.nationality">Nationality</span></dt>
                <dd>
                    <span>{{elderly.nationality}}</span>
                </dd>
                <dt><span jhiTranslate="elderlySmartApp.elderly.address">Address</span></dt>
                <dd>
                    <span>{{elderly.address}}</span>
                </dd>
                <dt><span jhiTranslate="elderlySmartApp.elderly.admissionDate">Admission Date</span></dt>
                <dd>
                    <span>{{elderly.admissionDate}}</span>
                </dd>
                <dt><span jhiTranslate="elderlySmartApp.elderly.state">State</span></dt>
                <dd>
                    <span>{{elderly.state}}</span>
                </dd>
                <dt><span jhiTranslate="elderlySmartApp.elderly.employee">Employee</span></dt>
                <dd>
                    <div *ngIf="elderly.employee">
                        <a [routerLink]="['/employee', elderly.employee?.id, 'view']">{{elderly.employee?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="elderlySmartApp.elderly.userApp">User App</span></dt>
                <dd>
                    <div *ngIf="elderly.userApp">
                        <a [routerLink]="['/user-app', elderly.userApp?.id, 'view']">{{elderly.userApp?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="elderlySmartApp.elderly.family">Family</span></dt>
                <dd>
                    <span *ngFor="let family of elderly.families; let last = last">
                        <a [routerLink]="['/family', family?.id, 'view' ]">{{family.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/elderly', elderly.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
