<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="appointmentNotification">
            <h2><span jhiTranslate="elderlySmartApp.appointmentNotification.detail.title">Appointment Notification</span> {{appointmentNotification.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="elderlySmartApp.appointmentNotification.idAppointmentNotification">Id Appointment Notification</span></dt>
                <dd>
                    <span>{{appointmentNotification.idAppointmentNotification}}</span>
                </dd>
                <dt><span jhiTranslate="elderlySmartApp.appointmentNotification.description">Description</span></dt>
                <dd>
                    <span>{{appointmentNotification.description}}</span>
                </dd>
                <dt><span jhiTranslate="elderlySmartApp.appointmentNotification.state">State</span></dt>
                <dd>
                    <span>{{appointmentNotification.state}}</span>
                </dd>
                <dt><span jhiTranslate="elderlySmartApp.appointmentNotification.medicalAppointment">Medical Appointment</span></dt>
                <dd>
                    <div *ngIf="appointmentNotification.medicalAppointment">
                        <a [routerLink]="['/medical-appointment', appointmentNotification.medicalAppointment?.id, 'view']">{{appointmentNotification.medicalAppointment?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/appointment-notification', appointmentNotification.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
