/*!

 =========================================================
 * Material Dashboard PRO Angular - v2.3.0
 =========================================================

 * Product Page: https://www.creative-tim.com/product/material-dashboard-pro-angular2
 * Copyright 2019 Creative Tim (https://www.creative-tim.com)

 * Coded by Creative Tim

 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

 */
@media (min-width: 992px) {
  .typo-line {
    padding-left: 140px;
    margin-bottom: 40px;
    position: relative;
  }

  .typo-line .category {
    transform: translateY(-50%);
    top: 50%;
    left: 0px;
    position: absolute;
  }
}
.sebm-google-map-container {
  height: 300px;
}
#map {
  position: relative;
  width: 100%;
  height: calc(100% - 60px);
  margin-top: 70px;
}

.places-buttons .btn {
  margin-bottom: 30px;
}

.space-70 {
  height: 70px;
  display: block;
}

.tim-row {
  margin-bottom: 20px;
}

.tim-typo {
  padding-left: 25%;
  margin-bottom: 40px;
  position: relative;
}
.tim-typo .tim-note {
  bottom: 10px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
}
.tim-row {
  padding-top: 50px;
}
.tim-row h3 {
  margin-top: 0;
}
@media (min-width: 992px) {
  .typo-line {
    padding-left: 140px;
    margin-bottom: 40px;
    position: relative;
  }

  .typo-line .category {
    transform: translateY(-50%);
    top: 50%;
    left: 0px;
    position: absolute;
  }

  #background {
    background: url('../../content/images/login.jpg');
    background-size: 100% auto;
  }

  /*------------------------------------------*/
  h1,
  h2,
  h3,
  h4 {
    font-family: 'Montserrat', sans-serif !important;
  }

  body,
  p,
  input,
  label,
  td,
  th,
  tr {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px !important;
  }

  td {
    text-align: center;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px !important;
  }

  input,
  .form-control,
  .is-focused {
    background-image: linear-gradient(to top, #0b6eb0 2px, rgba(156, 39, 176, 0) 2px),
      linear-gradient(to top, #ced4da 1px, rgba(206, 212, 218, 0) 1px) !important;
    box-shadow: none !important;
    font-size: 18px !important;
  }
  .btns {
    background-color: #3051a1 !important;
    font-size: 16px !important;
  }

  .btn-link,
  .btn-danger-word,
  .btn-secondary {
    font-size: 15px !important;
  }

  .btns-words {
    color: #3051a1 !important;
  }
  .form-control-label {
    font-size: 17px !important;
  }

  .form-check,
  .form-check-label,
  .circle,
  .check {
    background-color: #3051a1 !important;
  }

  .btn-danger-word {
    color: #cc2936 !important;
  }

  .btn-danger {
    background-color: #cc2936 !important;
    color: white !important;
    font-size: 15px !important;
  }

  th {
    font-size: 20px !important;
  }

  .card-list {
    background-color: rgba(48, 81, 161, 0.58) !important;
    font-size: 30px !important;
  }

  .card-title {
    font-size: 20px !important;
    font-family: 'Montserrat', sans-serif !important;
  }
}

.validate-danger-form {
  color: #721c24;
  background: #f8d7da;
  border-color: #f5c6cb;
  margin-bottom: 5px;
}

.container-error-message {
  padding: 3px;
}
