<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-funeral-packages-heading" class="text-center mb-5">Paquete funerario</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_idFuneralPackages">Código</label>
                    <input type="number" class="form-control" name="idFuneralPackages" id="field_idFuneralPackages"
                           formControlName="idFuneralPackages"
                            [(ngModel)]="createFromForm().idFuneralPackages" required />
                    <div *ngIf="idFuneralPackages.invalid && idFuneralPackages.touched" class="validate-danger-form">
                        El código es requerido.
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_name">Nombre</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"
                            [(ngModel)]="createFromForm().name" required />
                    <div *ngIf="name.invalid && name.touched" class="validate-danger-form">
                        El nombre es requerido.
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_description">Descripción</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"
                            [(ngModel)]="createFromForm().description" required />
                    <div *ngIf="description.invalid && description.touched" class="validate-danger-form">
                        La descripción es requerida.
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_price">Precio</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                           formControlName="price"
                            [(ngModel)]="createFromForm().price" required />
                    <div *ngIf="price.invalid && price.touched" class="validate-danger-form">
                        El precio es requerido.
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_state">Estado</label>
                    <input type="text" class="form-control" name="state" id="field_state"
                           formControlName="state"
                            [(ngModel)]="createFromForm().state" required />
                    <div *ngIf="state.invalid && state.touched" class="validate-danger-form">
                        El estado es requerido.
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_mortuary">Mortuary</label>
                    <select class="form-control" id="field_mortuary" name="mortuary" formControlName="mortuary">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="mortuaryOption.id === editForm.get('mortuary').value?.id ? editForm.get('mortuary').value : mortuaryOption" *ngFor="let mortuaryOption of mortuaries; trackBy: trackMortuaryById">{{mortuaryOption.id}}</option>
                    </select>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
